body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.share{
    width: 280px;
    height: 80px;
    background: #eceff0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.3s linear;
}

.share:hover{
    transform: scale(1.1);
}

.share span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fd7070;
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: 0.4s linear;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.share:hover span{
    transform: translate(-100%);
    transition-delay: 0.3s;
}

.share a{
    flex: 1;
    font-size: 26px;
    color: #2d3436;
    text-align: center;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.3s linear;
}

.share:hover a{
    opacity: 1;
    transform: translate(0);
}

.share a:nth-of-type(1){
    transition-delay: 1s;
}

.share a:nth-of-type(2){
    transition-delay: 0.8s;
}

.share a:nth-of-type(3){
    transition-delay: 0.6s;
}

.share a:nth-of-type(4){
    transition-delay: 0.4s;
}